

h1 {

    margin-top: 50px;

}

button {

    background-color: #4AA0D5;
    border:none;
    color:#fff;
    font-family: 'Droid Sans Mono';
    font-weight: bold;
    width: 325px;
    height: 41px;
    border-radius: 3px;


}

#logo {

    max-width: 150px;

}