<div class="row mt-5 mb-5">
    <div class="col">
        <h1>Categorias</h1>
    </div>
</div>
<div class="row category-item"  *ngFor="let category of categories" >
    <div class="col-10" (click)="goToDetail(category.id)" >
        {{category.description}}
    </div>
    <div class="col-2" (click)="deleteCategory(category.id)" >
        <i class="far fa-times-circle"></i>
    </div>
    <hr/>
</div>
<div class="row">
    <div class="col d-flex justify-content-center">
        <button (click)="goToCreate()" >Adicionar Categoria</button>
    </div>
</div>